[submodule "cmake"]
	path = cmake
	url = ../acbt.git
[submodule "modules/acul"]
	path = modules/acul
	url = ../acul.git
[submodule "modules/3rd-party/args"]
	path = modules/3rd-party/args
	url = ../args.git
